<!doctype html>
{% load static %}
<html dir="rtl" lang="ar">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://kit.fontawesome.com/0e05f91eab.css" crossorigin="anonymous">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet"> -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  {% block pageCSS %}
  {% endblock %}

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">


  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/sindibad-logo.png'%}">

  <!-- Begin Bootstrap CDN  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" 
    integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <End Bootstrap CDN  -->

  {% block title %}

  {% endblock %}

</head>
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="Header-picture">
      <a href="{% url 'stores:home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/sindibad-logo.png'%}" alt="">
        <span></span>
      </a>
    </div>
    <div class="Header-links">
      <nav id="navbar" class="navbar">
        <ul>
          {% if home %}
          <li><a class="nav-link scrollto" href="#testimonials">المتاجر الأكثر إعجاباً</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">تسوق حسب الأقسام </a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="{% url 'stores:home' %}#testimonials">المتاجر الأكثر إعجاباً</a></li>
          <li><a class="nav-link scrollto" href="{% url 'stores:home' %}#portfolio">تسوق حسب الأقسام </a></li>
          {% endif %}
          <li><a class="nav-link scrollto" href="#">من نحن</a></li>
        </ul>
    </div>
    {% if not user.is_authenticated %}
    <div class="Header-buttons">
      <a class="logIn scrollto" href="{% url 'users:user_login' %}">تسجيل الدخول</a>
      <a class="signUp scrollto" href="{% url 'users:register' %}">التسجيل</a>
    </div>
    {% endif %}

    <div>
      <!-- <nav id="navbar"> -->
      <nav id="navbar" class="navbar">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <i class="fa-solid fa-bars main-list"></i>
            </i>
            <ul>
              <li><a class="main-links" href="{% url 'stores:home' %}">الصفحة الرئيسية</a></li>
              <li><a class="main-links" href="{% url 'users:rep' %}">التقديم كمندوب توصيل</a></li>
              <li><a class="main-links" href="{% url 'users:wholesaler' %}">التقديم كتاجر جملة</a></li>
              <li><a class="main-links" href="{% url 'users:list_reps' %}">عرض المندوبين المتاحين</a></li>
              <li><a class="main-links" href="{% url 'users:list_wholesalers' %}">عرض تجار الجملة</a></li>
              <li><a class="main-links" href="{% url 'users:profile' %}">إعدادت الحساب</a></li>
              <li><a class="main-links" href="{% url 'stores:allowed_numbers' %}">الأرقام المسموحة</a></li>
              <li><a class="main-links" href="{% url 'users:logout' %}">تسجيل الخروج</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>

    <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<body>
  <!-- warning, error, success, info, and question -->
  {% if msg %}
    <p id="msg" style="display: none;">{{msg}}</p>
  {% endif %}
  <br><br><br><br><br>

  {% block content %}

  {% endblock %}
</body>


<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="../../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../static/assets/vendor/aos/aos.js"></script>
<script src="../../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../static/assets/vendor/php-email-form/validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="../../static/assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/ead2e9226c.js" crossorigin="anonymous"></script>
<script>
  if (window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }

  window.addEventListener('load', (event) => {

  if ($('#msg').length){
    
        Swal.fire({
          toast: true,
          position: 'top-end',
          icon: '{{msg.type}}',
          title: '{{msg.content}}',
          backdrop:'rgba(0,0,0,0)',
          timerProgressBar: true,
          showConfirmButton: false,
          timer: 3000,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
          })
    }

});
  </script>



</html>