<!DOCTYPE html>
<html>
{% extends 'main/baseView.html' %}
{% load static %}
<head>
    {% block title %}
        <title>تفعيل المتاجر</title>
    {% endblock %}

    {% block pageCSS %}
    {% endblock %}

    {% block content %}
    
</head>
  <body>
    <header class="section-header st-m">
      <p>تفعيل المتاجر</p>
      <span class="line"></span>
    </header>

    <div class="search-bar">
      <input type="text" placeholder="بحث">
      <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </div>
    
    
    <form action="" method="post">
      {% csrf_token %}
      <div class="search-bar">
        <input name="phone_number" type="text" placeholder="أضافة رقم">
        <button type="submit" class="search-button"><i class="fas fa-plus"></i></button>
      </div>
    </form>
        
    
    <div class="table">
      <div class="row t-header">
        <div class="cell">رقم الجوال</div>
        <div class="cell">رابط المتجر</div>
      </div>
      {% for number in numbers %}
      <div class="row">
        <div class="cell">{{number.phone_number}}</div>
        <div class="cell">
          {% if number.is_available %}
          <span>لم يتم استخدام الرقم</span>
          {% else %}
          <span style="color: green;">تم استخدام الرقم</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
  </html>
  {% endblock %}
