<!doctype html>
{% extends 'baseView.html' %}
{% load static %}
<head>
{% block title %}
    <title>تسجيل الدخول</title>
{% endblock %}

{% block pageCSS %}
  
{% endblock %}


{% block content %}

</head>
  <body>
    <!-- enctype="multipart/form-data" -->
    <div class="container-sm">
      <form action="{% url 'users:forgot_password' %}" method="POST">
        {%csrf_token%}        
        <div class="form-floating">
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
          <label for="email">البريد الالكتروني</label>
        </div>
        <button type="submit" class="btn btn-primary">إرسال</button>    
      </form>
  </div>
  </body>
  
</html>
{% endblock %}