{% extends 'main/baseView.html' %}
{% load print_categories %}
{% block content %}

<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>سندباد</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css%'}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css%'}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css%'}" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.12.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {%csrf_token%}

  <!-- ======= Header ======= -->
  <header style="display: none;" id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <nav id="navbar" class="navbar">
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">
    <!-- <button class="btn-outline-primary" onclick="testpopup()"> Test </button> -->
    <!-- <div class="container-sm">
      <h1>موقع سندباد</h1>
      
        {% if user.is_authenticated %}
        <h3>مرحباً! لقد تم تسجيل دخولك باسم {{user.first_name}}</h3>
        <h3>انت مسجل كـ</h3>
        <ul>
          {% if user.seller_id %}
          <li>تاجر</li> 
  
          {% if user.seller_id.store_id %}
          <li>ولديك متجر مسجل</li>
          {% elif not user.seller_id.store_id %}
          <li>لكن ليس لديك متجر مسجل</li>
          {% endif %}
          
          {% endif %}
  
          {% if user.wholesaler_id %}
          <li>تاجر جملة</li>
          {% endif %}
  
          {% if user.rep_id %}
          <li>مندوب</li>
          {% endif %}
        </ul>
        
        <h5><a href="{% url 'users:logout' %}">تسجيل الخروج</a></h5>
        {% endif %}
    </div> -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>مساحة إعلانية</p>
          <span class="line"></span>
        </header>

        <div class="row gy-4">

          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/cake.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a onclick="console.log('ssss')"><i class="bi bi-heart-fill"></i></a>
                  <span>44</span>
                </div>
              </div>
              <div class="member-info">
                <h4>متجر الإتحاد</h4>
                <p>المتجر الرسمي لنادي الاتحاد ، يمكنك شراء المنتجات الرياضية الخاصة بالنادي ، تمتع بتجربة فريدة حيث نوفر خدمة الدفع الالكتروني و خدمة التوصيل السريع.
                </p>
                <a class="logIn scrollto" href="">زيارة المتجر</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/clothes.webp'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-heart-fill"></i></a>
                  <span>44</span>
                </div>
              </div>
              <div class="member-info">
                <h4>متجر الإتحاد</h4>
                <p>المتجر الرسمي لنادي الاتحاد ، يمكنك شراء المنتجات الرياضية الخاصة بالنادي ، تمتع بتجربة فريدة حيث نوفر خدمة الدفع الالكتروني و خدمة التوصيل السريع.
                </p>
                <a class="logIn scrollto" href="">زيارة المتجر</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/giza.png'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-heart-fill"></i></a>
                  <span>44</span>
                </div>
              </div>
              <div class="member-info">
                <h4>متجر الإتحاد</h4>
                <p>المتجر الرسمي لنادي الاتحاد ، يمكنك شراء المنتجات الرياضية الخاصة بالنادي ، تمتع بتجربة فريدة حيث نوفر خدمة الدفع الالكتروني و خدمة التوصيل السريع.
                </p>
                <a class="logIn scrollto" href="">زيارة المتجر</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'assets/img/perfume.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-heart-fill"></i></a>
                  <span>44</span>
                </div>
              </div>
              <div class="member-info">
                <h4>متجر الإتحاد</h4>
                <p>المتجر الرسمي لنادي الاتحاد ، يمكنك شراء المنتجات الرياضية الخاصة بالنادي ، تمتع بتجربة فريدة حيث نوفر خدمة الدفع الالكتروني و خدمة التوصيل السريع.
                </p>
                <a class="logIn scrollto" href="">زيارة المتجر</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>المتاجر الأكثر إعجاباً</p>
          <span class="line"></span>

        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">
            {% for store in top_stores %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="social">
                  {% if store in user.liked_stores.all %}
                  <a onclick="like('{{store.id}}')"><i style="color: #ff0000;" class="heart_{{store.id}} bi bi-heart-fill"></i></a>
                  {% else %}
                  <a onclick="like('{{store.id}}')"><i class="heart_{{store.id}} bi bi-heart-fill"></i></a>
                  {% endif %}
                  <span id="likes_{{store.id}}" class="likes_{{store.id}}">{{store.likes}}</span>
                </div>
                  {% if store.store_photo %}
                    <img style="max-height: 220px;" src="../{{store.store_photo}}" class="img-fluid most-liked-stores-pic" alt="">
                  {% else %}
                    <!-- <img src="{% static 'assets/img/perfume.jpg" class="img-fluid most-liked-stores-pic" alt=""> -->
                    <img style="max-height: 220px;" src="static/assets/img/store.webp" class="img-fluid most-liked-stores-pic" alt="">
                  {% endif %}
                <div class="profile mt-auto">
                  <h3 class="post-title">{{store.name}}</h3>
                  
                  <span class="post-date">
                    {% print_categories store.categories.all %}
                  </span>
                  <br>

                <div class="most-like-stores-btn">
                <a class="logIn scrollto" target="_blank" href="{{store.link}}">زيارة المتجر</a>
                </div>
                </div>
              </div>
            </div>
            {% endfor %}

 
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>جميع المتاجر</p>
          <span class="line"></span>

        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">جميع المتاجر</li>
              {% for category in top_3_categories %}
                <li data-filter=".filter-{{category}}">{{category}}</li>
              {% endfor %}
              <li id="myBtn">أخرى</li>
            </ul>
          </div>
        </div>


        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for store in all_stores %} 
          <div class="col-lg-4 col-md-6 portfolio-item
          {% for store_category in store.categories.all %}
          filter-{{store_category}}
          {% endfor %}">
            <div class="portfolio-wrap">
              <div class="social">
                {% if store in user.liked_stores.all %}
                <a onclick="like('{{store.id}}')"><i style="color: #ff0000;" class="heart_{{store.id}} bi bi-heart-fill"></i></a>
                {% else %}
                <a onclick="like('{{store.id}}')"><i class="heart_{{store.id}} bi bi-heart-fill"></i></a>
                {% endif %}
                <span id="likes_{{store.id}}" class="likes_{{store.id}}">{{store.likes}}</span>
              </div>
                {% if store.store_photo %}
                  <img src="../{{store.store_photo}}" class="img-fluid" alt="">
                {% else %}
                  <img src="{% static 'assets/img/portfolio/portfolio-9.jpg'%}" class="img-fluid" alt="">
                  <!-- <img src="../static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""> -->
                {% endif %}
              <div class="portfolio-info">
                <h4>{{store.name}}</h4>
                <p>{{store.description}}</p>
                <div class="portfolio-links">
                  <a class="logIn scrollto" href="">زيارة المتجر</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>

      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>

          <h2>ابحث حسب تصنيف المتجر</h2>
          <ul id="portfolio-flters">
            {% for category in categories %}
              <li data-filter=".filter-{{category}}">{{category}}</li>
            {% endfor %}
          </ul>
          <a class="logIn scrollto" href="">بحث</a>

        </div>
      
      </div>

    </section><!-- End Portfolio Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" style="color: #38761d;" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script> -->

  <!-- <script src="{% static 'assets/js/main.js'}"></script> -->
<!-- <h3 style="color: #38761d;">تم الحفظ</h3> -->
</body>


<script>

function like(store_id)
{
    var url = 'like/';
        $.ajax({
            url: url,
            type: 'POST',
            data : jQuery.param({'store_id': store_id,
              "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
            success : (data) => {
              var likes_string = $("#likes_"+store_id).text();
              var likes_int = parseInt(likes_string);

              if (data == "liked"){
                var new_likes = likes_int + 1;
                $(".heart_"+store_id).css("color", "#ff0000")
            }
              else if (data == "disliked"){
                var new_likes = likes_int - 1;
                $(".heart_"+store_id).css("color", "#444444")
            }
              else {
                Swal.fire({
                  toast: true,
                  position: 'top-end',
                  icon: 'info',
                  title: 'يجب عليك تسجيل الدخول اولاً',
                  backdrop:'rgba(0,0,0,0)',
                  timerProgressBar: true,
                  showConfirmButton: false,
                  timer: 2000
                  })
            }

            $(".likes_"+store_id).html(new_likes)

            },
            error : function(jqXHR, textStatus, errorThrown) {
                alert('Error: '+jqXHR.status);
            }
        });
    
  }

  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
function testpopup(){

  Swal.fire({
  // color: '#444444',
  background: '#daf9c4',
  // target: 'div#soso',
  // heightAuto:false,
  iconColor: "#38761d",
  toast: true,
  width: 280,
  position: 'top-end',
  icon: 'success',
  html:'<h3 style="color: #38761d; margin-top: 8px;">تم الحفظ</h3>',
  // title: 'تم الحفظ',
  backdrop:'rgba(0,0,0,0)',
  timerProgressBar: true,
  // text: 'الرجاء التحقق من اسم المستخدم وكلمة المرور',
  showConfirmButton: false,
  timer: 2000
})

}




// window.addEventListener('load', (event) => {
//     Swal.fire({
//   icon: 'error',
//   title: 'بيانات خاطئة!',
//   text: 'الرجاء التحقق من اسم المستخدم وكلمة المرور',
//   footer: '<a href="">كيف يمكنني اصلاح المشكلة؟</a>'
// })
// });
  

  </script>

</html>
{% endblock %}