<!doctype html>
{% extends 'main/baseView.html' %}
{% load static %}
<html>
  <head>
    {% block title %}
      <title>تسجيل الدخول</title>
    {% endblock %}
    {% block pageCSS %}
      <link rel="stylesheet" href="{% static 'assets/css/form-grid.css'%}" />
    {% endblock %}
  </head>
  {% block content %}
  <body>
    <div class="container login">
      <div class="square">
        <div class="picture">
          <img id="logo-img" src="{% static 'assets/img/sindibad-logo.png'%}" />
        </div>

        <div class="form">
          <form action="{% url 'users:user_login' %}" method="POST">
            {%csrf_token%}        
          <div class="form-header">
            <label class="title">تسجيل الدخول</label>
          </div>

          <div class="form-content">
            <div class="userInfoContainer">
              <input
                type="email"
                name="email"
                placeholder="البريد الإلكتروني"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="كلمة السر"
                required=""
              />
            </div>
          </div>

          <div class="form-footer">
            <button class="inlineInput first sign">تسجيل الدخول</button>
            <button class="inlineInput">إنشاء حساب</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
