{% load static %}
<html>
  <head>
      <title>تسجيل الدخول</title>
      <link rel="stylesheet" href="{% static 'assets/css/form-grid.css'%}" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <div class="container login">
      <div class="square">
        <div class="picture">
          <a href="{% url 'stores:home' %}"title="الصفحة الرئيسية">
          <img id="logo-img" src="{% static 'assets/img/sindibad-logo.png'%}" />
          </a>
        </div>

        <div class="form">
          <form action="{% url 'users:user_login' %}" method="POST">
            {%csrf_token%}        
          <div class="form-header">
            <label class="title">تسجيل الدخول</label>
          </div>

          <div class="form-content">
            <div class="userInfoContainer">
              <input
                type="email"
                name="email"
                placeholder="البريد الإلكتروني"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="كلمة السر"
                required=""
              />
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="inlineInput first sign">تسجيل الدخول</button>
            <a class="inlineInput button" href="{% url 'users:register' %}">إنشاء حساب</a>
          </div>
        </form>
        {% if msg %}
        <p id="msg" style="display: none;">{{msg}}</p>
        {% endif %}
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    if (window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  
    window.addEventListener('load', (event) => {
  
    if ($('#msg').length){
      
          Swal.fire({
            toast: true,
            position: 'top-end',
            icon: '{{msg.type}}',
            title: '{{msg.content}}',
            backdrop:'rgba(0,0,0,0)',
            timerProgressBar: true,
            showConfirmButton: false,
            timer: 4000,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
            })
      }
  
  });
    </script>

</html>
