{% load static %}
<html>
  <head>
      <title>تسجيل الدخول</title>
      <link rel="stylesheet" href="{% static 'assets/css/form-grid.css'%}" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <div class="container login">
      <div class="square">
        <div class="picture">
          <a href="{% url 'stores:home' %}"title="الصفحة الرئيسية">
          <img id="logo-img" src="{% static 'assets/img/sindibad-logo.png'%}" />
          </a>
        </div>

        <div class="form">
          <form action="{% url 'users:user_login' %}" method="POST">
            {%csrf_token%}        
          <div class="form-header">
            <label class="title">تسجيل الدخول</label>
          </div>

          <div class="form-content">
            <div class="userInfoContainer">
              <input
                type="email"
                name="email"
                placeholder="البريد الإلكتروني"
                required=""
              />
              <input
                type="password"
                name="password"
                placeholder="كلمة السر"
                required=""
              />
            </div>
          </div>

          <div class="form-footer">
            <button type="submit" class="inlineInput first sign">تسجيل الدخول</button>
            <a class="inlineInput button" href="{% url 'users:register' %}">إنشاء حساب</a>
          </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
