<!DOCTYPE html>
<html>
{% extends 'main/baseView.html' %}
{% load static %}

<head>
    {% block title %}
    <title>إعدادات الحساب</title>
    {% endblock %}

    {% block pageCSS %}
    {% endblock %}

    {% block content %}
</head>

<body>

{% if not user.rep_id %}
    <div class="settings-container reps">
        <div class="settings-form">
            <form action="{% url 'users:rep' %}" method="POST" enctype='multipart/form-data'>
                {%csrf_token%}
                <h2 class="settings-title">التقديم كمندوب</h2>
                
                {% if errors %}
                <ul>
                  {% for error in errors %}
                  <li>
                    <span>
                      <i style="color: rgb(237, 87, 87);" class="fa-solid fa-angle-left"></i>
                    </span>
                    {{error}}
                  </li>
                  <br>
                  {% endfor %}
                </ul>
                {% endif %}

                <div class="form-element first-input">
                    <label class="input-label">الصورة الشخصية</label>
                    <img style="width: 100px; height: 100px; border: none;" class="prof-img" src="{% static 'assets/img/default-profile-pic.jpg'%}" />
                     <!-- border: #999999 0.5px dashed -->
                  </div> 
         
                  <div class="form-element">
                    <label class="input-label"></label>
                    <input class="img-input" type="file" id="img" name="photo" accept="image/*" />
                  </div>

                <!-- <div class="form-element">
                    <label class="input-label">الاسم الأول</label>
                    <input class="settings-input" type="text" name="first_name" class="inlineInput first"
                        placeholder="الاسم الأول" required="" />
                </div>

                <div class="form-element">
                    <label class="input-label">اسم العائلة</label>
                    <input class="settings-input" type="text" name="last_name" class="inlineInput"
                        placeholder="اسم العائلة" required="" />
                </div> -->


                <div class="form-element">
                    <label class="input-label">الموقع</label>

                    <select class="settings-input" name="city" id="locations-list">
                        {% for city in cities %}
                        <option value="{{city.id}}">{{city.name_ar}}</option>
                        {% endfor %}
                      </select>
                </div>

                <!-- <div class="form-element">
                    <label class="input-label">رقم الجوال </label>
                    <input class="settings-input" type="text" name="phone_number" placeholder="رقم الجوال"
                        required="" />
                </div> -->

                <div class="form-element">
                    <label class="input-label"></label>
                    <button type="submit" class="settings-btn">التقديم</button>
                </div>
            </form>
        </div>
    </div>
{% else %}
<p>انت مسجل كمندوب مسبقا</p>
{% endif %}



</body>

</html>
{% endblock %}