<!DOCTYPE html>
<html>
{% extends 'main/baseView.html' %}
{% load static %}

<head>
  {% block title %}
  <title>إعدادات الحساب</title>
  {% endblock %}

  {% block pageCSS %}
  {% endblock %}

  {% block content %}
</head>

<body>

  {% if not user.wholesaler_id %}
  <div class="settings-container wholesaler">
    <div class="settings-form">
      <form action="{% url 'users:wholesaler' %}" method="POST" enctype='multipart/form-data'>
        {%csrf_token%}
        <h2 class="settings-title">التقديم كتاجر جملة</h2>
        
        {% if errors %}
        <ul>
          {% for error in errors %}
          <li>
            <span>
              <i style="color: rgb(237, 87, 87);" class="fa-solid fa-angle-left"></i>
            </span>
            {{error}}
          </li>
          <br>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="form-element first-input">
          <label class="input-label">صورة المتجر</label>
          <img style="width: 100px; height: 100px; border: none;" class="prof-img" src="{% static 'assets/img/store.webp'%}" />
        </div>

        <div class="form-element">
          <label class="input-label"></label>
          <input class="img-input" type="file" id="img" name="store_photo" accept="image/*" />
        </div>
        <div class="form-element">

          <label class="input-label">اسم المؤسسة</label>
          <input class="settings-input" type="text" name="business_name" class="inlineInput first"
            placeholder="اسم التاجر أو المؤسسة" />
        </div>

        <div class="form-element">
          <label for="store-descrption" class="input-label">نوع البضائع</label>
          <textarea class="settings-input" name="products_types"
            placeholder="قرطاسية، أدوات مدرسية، فواصل كتب"></textarea>
        </div>

        <div class="form-element">
          <label for="store-descrption" class="input-label">الوصف</label>
          <textarea class="settings-input" name="description"
            placeholder="متجر يقوم ببيع الادوات المكتبية بالجملة مقره في الرياض ويوفر توصيل مجاني لمناطق الملكة"></textarea>
        </div>

        <div class="form-element">
          <label class="input-label">الموقع</label>

          <select class="settings-input" name="city" id="locations-list">
            {% for city in cities %}
            <option value="{{city.id}}">{{city.name_ar}}</option>
            {% endfor %}
          </select>
        </div>
        <!-- <div class="form-element">
                <label class="input-label">رقم الجوال </label>
                <input
                  class="settings-input"
                  type="text"
                  name="phone_number"
                  placeholder="رقم الجوال"
                  required=""
                />
              </div> -->


        <div class="form-element">
          <label class="input-label"></label>
          <button type="submit" class="settings-btn">التقديم</button>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <p>انت مسجل كتاجر جملة مسبقا</p>
  {% endif %}

</body>

</html>
{% endblock %}